/* Write your CSS here */
* {
  box-sizing: border-box;
}
.app-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 150px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
}
@media screen and (max-width: 576px) {
  .app-list-item {
    margin-left: 10px;
  }
}

.app-list-image {
  width: 50px;
}

@media screen and (max-width: 576px) {
  .app-list-image {
    width: 40px;
  }
}

.app-list-title {
  font-family: 'Bree Serif';
  font-size: 14px;
}
